<div class="container app-item-list no-padding-right">
	<div class="row app-item wow animated fadeIn" ng-repeat="app in apps">
		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<h4>Application ID:</h4>
					<p>{{app.application._appId}}</p>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<h4>Job ID:</h4>
					<p>{{app.application._jobId}}</p>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<h4>Application status:</h4>
					<p>{{app.application.status}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<h4>Driver license number:</h4>
					<p>{{app.application.driverLicenseNumber}}</p>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<h4>Full name:</h4>
					<p>{{app.application.fullName}}</p>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<h4>Post code</h4>
					<p>{{app.application.postCode}}</p>
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="row">
				<div class="col-xs-6">
					<a ng-href="manage-viewapp/{{app.application._appId}}" type="button" class="btn btn-default btn-dashboard">Details</a>
				</div>
				<div class="col-xs-6">
					<a ng-href="app-autocheck/{{app.application._appId}}" type="button" class="btn btn-primary btn-dashboard" ng-if="app.application.status != 'APP_SHORTLISTED' && app.application.status != 'APP_ACCEPTED_BY_CANDIDATE' && app.application.status != 'APP_INTERVIEW_PASSED' && app.application.status != 'APP_INTERVIEW_FAILED' && app.application.status != 'APP_REJECTED_BY_CANDIDATE' && app.application.status != 'APP_NOT_SHORTLISTED' && app.application.status != 'APP_CANCELLED' && app.application.status != 'APP_ARCHIVED'">Auto check</a>
					<a type="button" class="btn btn-primary btn-dashboard disabled" ng-if="app.application.status == 'APP_SHORTLISTED' || app.application.status == 'APP_ACCEPTED_BY_CANDIDATE' || app.application.status == 'APP_INTERVIEW_PASSED' || app.application.status == 'APP_INTERVIEW_FAILED' || app.application.status == 'APP_REJECTED_BY_CANDIDATE' || app.application.status == 'APP_NOT_SHORTLISTED' || app.application.status == 'APP_CANCELLED' || app.application.status == 'APP_ARCHIVED'">Auto check n/a</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<a ng-href="app-assignreview/{{app.application._appId}}" type="button" class="btn btn-default btn-dashboard" ng-if="app.application.status != 'APP_SHORTLISTED' && app.application.status != 'APP_ACCEPTED_BY_CANDIDATE' && app.application.status != 'APP_INTERVIEW_PASSED' && app.application.status != 'APP_INTERVIEW_FAILED' && app.application.status != 'APP_REJECTED_BY_CANDIDATE' && app.application.status != 'APP_NOT_SHORTLISTED' && app.application.status != 'APP_CANCELLED' && app.application.status != 'APP_ARCHIVED' && app.application.status != 'APP_REVIEWED' && app.application.status != 'APP_REVIEWING'">Arrange HR team</a>
					<a type="button" class="btn btn-default btn-dashboard disabled" ng-if="app.application.status == 'APP_SHORTLISTED' || app.application.status == 'APP_ACCEPTED_BY_CANDIDATE' || app.application.status == 'APP_INTERVIEW_PASSED' || app.application.status == 'APP_INTERVIEW_FAILED' || app.application.status == 'APP_REJECTED_BY_CANDIDATE' || app.application.status == 'APP_NOT_SHORTLISTED' || app.application.status == 'APP_CANCELLED' || app.application.status == 'APP_ARCHIVED'">HR team n/a</a>
					 
					<a type="button" class="btn btn-default btn-dashboard disabled" ng-if="app.application.status == 'APP_REVIEWING'">Reviewing</a>
					<a ng-href="review-results/{{app.application._appId}}" type="button" class="btn btn-default btn-dashboard" ng-if="app.application.status == 'APP_REVIEWED'">Review result</a>
				</div>
				<div ng-if="app.application.status == 'APP_REVIEWED'">
					<div class="col-xs-3">
						<a ng-href="app-shortlist/{{app.application._appId}}/list" type="button" class="btn btn-default btn-dashboard">List</a>
					</div>
					<div class="col-xs-3">
						<a ng-href="app-shortlist/{{app.application._appId}}/unlist" type="button" class="btn btn-default btn-dashboard">Unlist</a>
					</div>
				</div>
				<div ng-if="app.application.status != 'APP_REVIEWED'">
					<div class="col-xs-3">
						<a type="button" class="btn btn-default btn-dashboard disabled">List</a>
					</div>
					<div class="col-xs-3">
						<a type="button" class="btn btn-default btn-dashboard disabled">Unlist</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<a type="button" class="btn btn-danger btn-dashboard" ng-if="app.application.status == 'APP_ACCEPTED_BY_CANDIDATE'">Interview FAIL</a>
					<a type="button" class="btn btn-danger btn-dashboard disabled" ng-if="app.application.status != 'APP_ACCEPTED_BY_CANDIDATE'">Interview n/a</a>
				</div>
				<div class="col-xs-6">
					<a type="button" class="btn btn-success btn-dashboard" ng-if="app.application.status == 'APP_ACCEPTED_BY_CANDIDATE'">Interview PASS</a>
					<a type="button" class="btn btn-success btn-dashboard disabled" ng-if="app.application.status != 'APP_ACCEPTED_BY_CANDIDATE'">Interview n/a</a>
				</div>
			</div>
		</div>
	</div>
</div>