<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- Automatically scan components for dependency injection -->
	<context:component-scan base-package="au.com.ors.web"
		annotation-config="true"></context:component-scan>
	<mvc:default-servlet-handler />
	<mvc:annotation-driven />

	<!-- <beans:bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<beans:property name="maxUploadSize" value="250000" />
	</beans:bean> -->

	<!-- <beans:bean id="ObjectXMLConverter" class="au.com.ors.rest.dao.xmlhandler.ObjectXmlConverter"> 
		<beans:property name="marshaller" ref="castorMarshaller" /> <beans:property 
		name="unmarshaller" ref="castorMarshaller" /> </beans:bean> <beans:bean id="castorMarshaller" 
		class="org.springframework.oxm.castor.CastorMarshaller" /> -->
</beans:beans>